/* You can add global styles to this file, and also import other style files */
body
{
    background-color: rgb(255, 255, 221);
    position: relative;
    display: grid;
    place-items: center;
    justify-content: center;
    display: flex;
}